

  <div *ngIf="hasServerResponded">
    <!-- <div *ngFor="let card of deck"> -->
    <h3>Dealt Deck</h3>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let card of deck.dealtDeck">
            <img src="https://s3.eu-central-1.amazonaws.com/bogdanbudaca-cards/RegularCards/{{card.id}}.png" 
            class="card">
          </li>
        </ul>
    </div>
  </div>
    <hr>
  <h3>Left Deck</h3>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let card of deck.leftDeck">
        <img src="https://s3.eu-central-1.amazonaws.com/bogdanbudaca-cards/RegularCards/{{card.id}}.png" 
        class="card">
      </li>
    </ul>
  </div>


  <form>
    <label>Chat</label><br>
      <input #chat type="text" placeholder="Type your message"><br>
      <button type="button" (click)="sendAndReset(chat)">Send</button>
      <div *ngFor="let mess of messageArray">
        <div>{{ mess }}</div>
      </div>
  </form>











<!-- https://s3.eu-central-1.amazonaws.com/bogdanbudaca-cards/RegularCards/10_of_clubs.png -->